{% load static  %}
<div class="theme-basic-footer">

    <div class="container">
        <div class="inner-wrapper">

            <div class="bottom-footer">
                <div class="d-lg-flex justify-content-between align-items-center">
                    <ul class="order-lg-1 pb-15 d-flex justify-content-center footer-nav style-none">
                        <li><a href="#">Privacy &amp; Terms.</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                    <p class="copyright text-center order-lg-0 pb-15">Copyright @2023 Барлық құқықтар қорғалған.</p>
                </div>
            </div>
        </div>
    </div>
</div>